body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #856088;
}

.card {
  height: 350px;
}

/* .card.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
} */

.list-group .cat-aktif {
  /* background-color: #856088; */
  background-color: #C8A2C8;
  color: white;
}

.btn-primary {
  background-color: #856088;
  border: none;
}

.btn-primary:hover {
  background-color: #C8A2C8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-height: 1000px) {
  .cart {
    height: 650px;
  }

  .menu {
    height: 800px;;
  }
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}